<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Website</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body class="verification-body">
        <form class="verification-form" action="/user_verification" method="POST">
            <h4 class="text-center mb-4">Enter your code</h4>
            <p>Verification code sent to <b>{{ .Email }}</b></p>
            <div class="d-flex mb-3">
              <input type="tel" name="num1" maxlength="1" pattern="[0-9]" class="form-control">
              <input type="tel" name="num2" maxlength="1" pattern="[0-9]" class="form-control">
              <input type="tel" name="num3" maxlength="1" pattern="[0-9]" class="form-control">
              <input type="tel" name="num4" maxlength="1" pattern="[0-9]" class="form-control">
              <input type="tel" name="num5" maxlength="1" pattern="[0-9]" class="form-control">
              <input type="tel" name="num6" maxlength="1" pattern="[0-9]" class="form-control">
            </div>
            <button type="submit" class="w-100 btn btn-primary">Verify account</button>
        </form>

        <div>
            <ul class="verification-footer">
                <li><a href="/"><i class="fa fa-arrow-circle-left"> To main</i></a></li>
                <li><form action="" method="GET"></form><a href="/"><i class="fa fa-repeat"> Resend message</i></a></li>
            </ul>
        </div>
    </body>

    <script>
        const form = document.querySelector('form')
        const inputs = form.querySelectorAll('input')
        const KEYBOARDS = {
        backspace: 8,
        arrowLeft: 37,
        arrowRight: 39,
        }

        function handleInput(e) {
        const input = e.target
        const nextInput = input.nextElementSibling
        if (nextInput && input.value) {
            nextInput.focus()
            if (nextInput.value) {
            nextInput.select()
            }
        }
        }

        function handlePaste(e) {
        e.preventDefault()
        const paste = e.clipboardData.getData('text')
        inputs.forEach((input, i) => {
            input.value = paste[i] || ''
        })
        }

        function handleBackspace(e) { 
        const input = e.target
        if (input.value) {
            input.value = ''
            return
        }
        
        input.previousElementSibling.focus()
        }

        function handleArrowLeft(e) {
        const previousInput = e.target.previousElementSibling
        if (!previousInput) return
        previousInput.focus()
        }

        function handleArrowRight(e) {
        const nextInput = e.target.nextElementSibling
        if (!nextInput) return
        nextInput.focus()
        }

        form.addEventListener('input', handleInput)
        inputs[0].addEventListener('paste', handlePaste)

        inputs.forEach(input => {
        input.addEventListener('focus', e => {
            setTimeout(() => {
            e.target.select()
            }, 0)
        })
        
        input.addEventListener('keydown', e => {
            switch(e.keyCode) {
            case KEYBOARDS.backspace:
                handleBackspace(e)
                break
            case KEYBOARDS.arrowLeft:
                handleArrowLeft(e)
                break
            case KEYBOARDS.arrowRight:
                handleArrowRight(e)
                break
            default:  
            }
        })
        })
    </script>
</html>